body {
  width: 100%;
}
div {
  text-align: center;
}
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}
h1 {
  font-size: 72px;
  color: green;
}
button {
  font-size: 48px;
}
menu a {
  display: block;
  text-align: center;
  padding: 20px 0;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
